<h1>New ideas</h1>

<div id="errors">
<% @idea.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</div>

<%= form_for :idea, url: ideas_path do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</p>

<p><%= f.submit  %></p>

<% end %>
